html, body {
    margin: 0;
   
  
  
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content:center;
    
}


nav.menu-lateral {
    width: 65px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 grey;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3;
}

nav.menu-lateral:hover
{
    width: 250px;
}

.btn-expandir
{
    width: 100%;
}

.btn-expandir >i
{
color: #fff;
font-size: 24px;
cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li.item-menu {
    transition: .3s;
}

ul li.at
ul li.item-menu:hover {
    background: grey;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 50px;
}

ul li.item-menu a .txt-link {
    margin-left: 15px;
}

ul li.item-menu a .icon > i {
    font-size: 25px;
    margin-left: 25px;
}







.wrapper {
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(233, 243, 243);
    padding: 10px 20px 15px 0px ;
}


.header {
    background-color: rgb(255, 255, 255);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

fieldset
{
    margin: 19px;
    border-radius: 15px;
    border-color: rgb(255, 250, 250);
    
}

.input
{
    width: 37%;
    padding: 8px; 
    font-size: 16px;
    border: none;
    background-color: transparent; 
    border-bottom: 1px solid #000; 
    text-align: left; 
    
}

.social-icons {
    margin-top: 10px;
    position: absolute;
    display: flex;
    left:49%;
    
}

.social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f5f2f2;
    color: #3500d3;
    margin: 0 5px;
    text-align: center;
    line-height: 35px;
    align-items: center;
    border-radius: 50px;
    justify-content: center;

      
}
.social-icons a:hover {
    background-color: #666;
    color: #fff;
}

